@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Bevan);

/** LAYOUT STYLES **/

html{
	background-color: #efefef;
	padding: 20px 0;
}

body{
	font: 16px/24px "Open Sans", sans-serf;
	color: #000;
	background-color: #fff;
	max-width: 960px;
	margin: 0 auto;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 2px 2px 2px #ccc;
	-moz-box-shadow: 2px 2px 2px #ccc;
	-webkit-box-shadow: 2px 2px 2px #ccc;
}
#page-content{
	padding: 20px 30px 20px 30px;
}


/** NAV STYLES **/

#nav{
	max-width: 817px;
	margin: 0 auto;
	padding: 10px 0;
	list-style-type: none;
	border-bottom: 1px #ccc dashed;
}
#nav li{
	display: inline-block;
}
#nav li a{
	display: block;
	padding: 0 10px;
}
#nav li a:link{
	text-decoration: none;
	color: #db1547;
	line-height: 1em;
}
#nav li a:visited, #nav li a:hover{color: #666;}
#nav li a:active{text-decoration: underline;}


/** HEADING STYLES **/

h1, h2, h3, h4{font-family: "Bevan", "Georgia", serif;}
h1{
	text-shadow: 2px 1px #efefef;
	-moz-text-shadow: 2px 1px #efefef;
	-webkit-text-shadow: 2px 1px #efefef;
	text-align: center;
}
h2{line-height: 2em; border-bottom: 1px #ccc dashed;}
h4{color: #444;}
h5{
	font: bold 0.9em/1em "Open Sans", sans-serif;
	color: #db1547;
}


/** LIST STYLES **/

ol{list-style-type: lower-roman;}
ol li a{
	display: block;
	border: 2px #db1547 solid;
}
ol li a:hover{border-color: #4377c2;}


/** EMPHASIS STYLES **/

strong{color: #4377c2;}


/** GALLERY STYLES **/

#gallery{
	width: 860px;
	background-color: #f9f9f9;
	margin: 30px;
	padding: 20px;
	display: inline-block;
}
figure{display: inline-block;}
figure img:hover{opacity: 0.8;}
figure a{height: 113px;}
figcaption{
	color: #db1547;
	font-style: italic;
	font-size: 0.65em;
	width: 200px;
	line-height: 1.25em;
	margin-top: 5px;
}