@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Bevan);

/** LAYOUT STYLES **/

html{
	background: #efefef url('../images/foxtail.png') repeat center;
	padding: 20px 0;
}

#body-container{
	font: 1em/1.5em "Open Sans", sans-serf;
	color: #000;
	background-color: #fff;
	max-width: 960px;
	margin: 0 auto;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 2px 2px 2px #ccc;
	-moz-box-shadow: 2px 2px 2px #ccc;
	-webkit-box-shadow: 2px 2px 2px #ccc;
	overflow: auto;
}
#header{
	padding: 20px 3.125% 0 3.125%;
}
#page-content{
	padding: 20px 3.125%;
	width: 56.770833333333%;
	float: left;
}


/** NAV STYLES **/

#nav{
	max-width: 817px;
	margin: 0 auto;
	padding: 10px 0;
	list-style-type: none;
	border-bottom: 1px #ccc dashed;
}
#nav li{
	display: inline-block;
}
#nav li a{
	display: block;
	padding: 0 10px;
}
#nav li a:link{
	text-decoration: none;
	color: #db1547;
	line-height: 1em;
}
#nav li a:visited, #nav li a:hover{color: #666;}
#nav li a:active{text-decoration: underline;}


/** HEADING STYLES **/

h1, h2, h3, h4{font-family: "Bevan", "Georgia", serif;}
h1{
	text-shadow: 2px 1px #efefef;
	-moz-text-shadow: 2px 1px #efefef;
	-webkit-text-shadow: 2px 1px #efefef;
	text-align: center;
	line-height: 1.25em;
}
h2{
	line-height: 2em; 
	border-bottom: 1px #ccc dashed;
	background: url('../images/tire.png') no-repeat right center;
}
h4{color: #444;}
h5{
	font: bold 0.9em/1em "Open Sans", sans-serif;
	color: #db1547;
}


/** LIST STYLES **/

ol{
	list-style-type: lower-roman;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
ol li a{
	display: block;
	border: 2px #db1547 solid;
}
ol li a:hover{border-color: #4377c2;}


/** EMPHASIS STYLES **/

strong{color: #4377c2;}


/** GALLERY STYLES **/

#gallery{
	width: 25.520833333333%;
	background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	margin: 3.125%;
	padding: 2.083333333333%;
	float: right;
	clear: none;
}
figure{display: inline-block;}
figure img{width: 100%; height: auto;}
figure img:hover{opacity: 0.8;}
figure a{max-height: 91px;}
figcaption{
	color: #db1547;
	font-style: italic;
	font-size: 0.65em;
	width: 100%;
	line-height: 1.25em;
	margin-top: 5px;
}